@import "../../styles/common";

.tab-strip{
    position: fixed;
    display: flex;
    bottom: 0;
    height: 45px;
    width: 100%;
    background: white;
    border-top: $commonBorderColor solid 1px;
    color: $commonFontColor;
    font-size: 12px;
    z-index: $level-1;

    .tab{
        padding-top: 3px;
        flex-grow: 1;
        text-align: center;
        line-height: 16px;

        .icon{
            display: block;
            font-size: 22px;
        }

        a{
            text-decoration: none;
            color: $commonFontColor;

            &:visited{
                color: $commonFontColor;
            }
        }

        a.active{
            color: $commonColorGreen;
        }
    }
}