@import "../../styles/common";

#Register {
  .main {
    background: url("http://www.dyb98.com/i/niucelue/reg-banner.jpg") no-repeat center;
    height: 450px;
    margin: 0;
    box-sizing: border-box;
    padding: 50px;

    .content{
      width: 1000px;
      margin: 0 auto;
    }
  }
}
