#Withdraw{
    .withdraw-title{
        line-height: 25px;
        border-bottom: #bbb solid 1px;
        font-size: 16px;
        padding-bottom: 8px;
    }

    .line{
        margin: 10px 0;

        .label{
            width: 100px;
            line-height: 30px;
            display: inline-block;
        }

        input{
            border: #e5e5e5 solid 1px;
            width: 200px;
            height: 30px;
        }

        .btn-withdraw{
            border: 0;
            background: #D22E34;
            padding: 4px 10px;
            color: #fff;
            font-size: 13px;
            border-radius: 5px;
        }
    }
}