#Buy {
  padding: 40px 50px;
  box-sizing: border-box;
  display: flex;

  .panel-left {
    flex-basis: 64.5%;
    border-right: 1px solid #f1f1f1;
    position: relative;
    padding-right: 60px;
    box-sizing: border-box;

    .stock-name {
      padding-bottom: 10px;
      border-bottom: 1px solid #f1f1f1;
      line-height: 1;
      position: relative;

      .name {
        color: #333;
        font-size: 30px;
      }

      .stopped{
        margin-left: 10px;
        color: #CC2930;
      }

      .choose {
        float: right;
        background-color: #fff;
        font-size: 16px;
        margin-top: 3px;
        color: #067add;
        cursor: pointer;
      }

      .choose-stock {
        display: flex;
        position: absolute;
        box-sizing: border-box;
        left: 0;
        top: 0;
        height: 35px;
        width: 250px;
        border: #e5e5e5 solid 1px;
        background: #fff;

        .choose-stock-left {
          flex-basis: 200px;
          padding: 4px;

          input {
            width: 100%;
            height: 100%;
            border: 0;
            outline: none;
          }

          .suggests {
            position: absolute;
            top: 39px;
            width: 250px;
            border: #e5e5e5 solid 1px;
            left: 0;
            background: #fff;
            line-height: 28px;

            td {
              padding-left: 10px;
            }

            .title {
              font-size: 14px;
            }

            .item:hover {
              background: #888;
              color: #fff;
            }
          }
        }

        .choose-stock-right {
          flex-basis: 50px;
          background: #c72125;
          color: #fff;
          text-align: center;
          line-height: 35px;
          cursor: pointer;
        }
      }
    }

    .prices {
      display: flex;

      .main-price {
        flex-grow: 1;
        color: #00a800;
        line-height: 208px;
        font-size: 48px;
      }

      .red {
        color: #c72125;
      }

      .trade-info {
        flex-basis: 190px;
        color: #888;
        font-size: 12px;

        ul {
          margin-top: 12px;

          li {
            text-align: left;

            span {
              display: inline-block;
              margin: 2px 10px;
            }

            .trade-price {
              color: #00a800;
            }

            .red {
              color: #c72125;
            }
          }
        }
      }
    }

    .switch {
      display: flex;
      margin: 20px 0;
      border: #ce2629 solid 1px;
      border-radius: 5px;
      text-align: center;
      color: #666;
      cursor: pointer;

      .switch-left {
        flex-basis: 50%;
        line-height: 36px;
      }

      .switch-right {
        flex-basis: 50%;
        line-height: 36px;
      }

      .active {
        background: #ce2629;
        color: #fff;
      }
    }

    .charts-container{
      position: relative;
      margin-top: 35px;
      height: 250px;

      .charts{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .hidden{
        visibility: hidden;
      }
    }

    .stock-info-title{
      margin-top: 20px;
    }

    .stock-info-table{
      width: 100%;
      margin-top: 10px;
      line-height: 25px;
    }
  }

  .panel-right {
    font-size: 14px;
    flex-basis: 35.5%;
    padding-left: 18px;
    color: #434343;
    box-sizing: border-box;

    .buy-prices {
      margin-top: 20px;
      margin-bottom: 5px;

      li {
        display: inline-block;
        width: 73px;
        height: 38px;
        border: 1px solid #e1e1e1;
        color: #434343;
        line-height: 38px;
        text-align: center;
        position: relative;
        margin-bottom: 14px;
        cursor: pointer;
        margin-right: 2px;
        box-sizing: border-box;
      }

      li.active {
        color: #9a0000;
        background-color: #feeeef;
        border-color: #d42b2e;
      }
    }

    .efficiency {
      color: #d42b2e;
      margin-bottom: 20px;
    }

    .hold-time {
      min-height: 40px;
      margin-bottom: 5px;
      line-height: 40px;
      display: flex;

      .hold-time-left {
        flex-basis: 120px;
        letter-spacing: 4px;
      }

      .hold-time-right {
        flex-grow: 1;

        strong {
          color: #d42b2e;
          font-size: 20px;
        }

        em {
          color: #d42b2e;
        }

        .item {
          width: 97px;
          height: 38px;
          border: 1px solid #e1e1e1;
          color: #434343;
          line-height: 38px;
          text-align: center;
          position: relative;
          margin-right: 9px;
          cursor: pointer;
        }

        .active {
          color: #9a0000;
          background-color: #feeeef;
          border-color: #d42b2e;
        }
      }
    }

    .amounts {
      height: 38px;
      margin-bottom: 5px;

      li {
        display: inline-block;
        box-sizing: border-box;
        width: 97px;
        height: 38px;
        border: 1px solid #e1e1e1;
        color: #434343;
        line-height: 38px;
        text-align: center;
        position: relative;
        margin-right: 2px;
        cursor: pointer;
      }

      .active {
        color: #9a0000;
        background-color: #feeeef;
        border-color: #d42b2e;
      }
    }

    .checkbox {
      -webkit-appearance: checkbox;
      margin-right: 6px;
      cursor: pointer;
    }

    .protocol-row {
      a {
        color: #004fa9;
        display: block;
        font-size: 12px;
        line-height: 1.9;
      }
    }

    .btn-buy {
      margin-top: 10px;
      width: 223px;
      height: 47px;
      background-color: #ce2629;
      font-size: 16px;
      color: #fff;
      margin-left: 50px;
      border: 0;
      cursor: pointer;
    }

    .btn-disable{
      background: #888;
    }
  }
}
