@font-face {
    font-family: "iconfont";
    src: url("../../icons/dist/iconfont.eot?ad4d483b9eaa7a68c28d9c0c83a3ade7?#iefix") format("embedded-opentype"),
url("../../icons/dist/iconfont.woff?ad4d483b9eaa7a68c28d9c0c83a3ade7") format("woff"),
url("../../icons/dist/iconfont.ttf?ad4d483b9eaa7a68c28d9c0c83a3ade7") format("truetype");
}

.icon {
    display: inline-block;
    line-height: 1;
}

.icon:before {
    font-family: iconfont !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

    .i-arrow_down:before {
        content: "\f101";
    }
    .i-audit:before {
        content: "\f102";
    }
    .i-back:before {
        content: "\f103";
    }
    .i-close:before {
        content: "\f104";
    }
    .i-collection:before {
        content: "\f105";
    }
    .i-countdown:before {
        content: "\f106";
    }
    .i-course:before {
        content: "\f107";
    }
    .i-forward:before {
        content: "\f108";
    }
    .i-heart:before {
        content: "\f109";
    }
    .i-home:before {
        content: "\f10a";
    }
    .i-magnifying:before {
        content: "\f10b";
    }
    .i-mine:before {
        content: "\f10c";
    }
    .i-password:before {
        content: "\f10d";
    }
    .i-resource:before {
        content: "\f10e";
    }
    .i-user:before {
        content: "\f10f";
    }
