@import "../../styles/carousel";
@import "../../styles/common";

#Home {
  position: relative;

  .banner {
    width: 100%;
  }

  .login{
    width: 1000px;
    position: absolute;
    top: 114px;
    left: 50%;
    margin-left: -500px;

    .content{
      width: 254px;
      height: 280px;
      background: rgba(0, 0, 0, 0.7);
      vertical-align: middle;
      padding: 18px 20px 28px;
      box-sizing: border-box;
      border-radius: 6px;
      float: right;
      margin-top: 40px;
      margin-right: -50px;
      color: #fff;

      .title{
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        line-height: 40px;
      }

      .label{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 3px;
      }

      .input{
        width: 100%;
        line-height: 36px;
        height: 36px;
        font-size: 12px;
        color: #545454;
        background-color: #fff;
        border-radius: 4px;
        padding: 0 5px;
        box-sizing: border-box;
        border: none;
      }

      .buttons{
        margin-top: 28px;
        display: flex;

        .left{
          flex-grow: 1;
        }

        .right{
          flex-grow: 1;
          text-align: right;
        }

        .btn{
          background-color: #d42b2e;
          color: #fff;
          height: 36px;
          font-size: 18px;
          width: 90px;
          text-align: center;
          line-height: 36px;
          border: 0;
          cursor: pointer;
        }
      }
    }
  }

}
