@import "../../styles/carousel";
@import "../../styles/common";

#Home {
  .banner {
    height: 360px;
    background-size: auto 100%;
  }

  .pic1 {
    background: url("http://www.dyb98.com/i/dyb/banner1.jpg") no-repeat center;
  }

  .pic2 {
    background: url("http://www.dyb98.com/i/dyb/banner2.jpg") no-repeat center;
  }

  .pic3 {
    background: url("http://www.dyb98.com/i/dyb/banner3.png") no-repeat center;
  }
}
