#Help{
    .faq{
        width: 920px;
        margin: 30px auto;
        border: #7fc0f1 solid 2px;
        border-radius: 5px;
        padding: 30px 50px;
        background: #fff;
  
        .item{
          margin-bottom: 10px;
        }
      }
}