@import "../../styles/common";

#Resource{
    .filters{
        padding: 15px;

        .row{
            margin-top: 10px;
            display: flex;
            line-height: 24px;
            font-size: 14px;
            color: #333;

            .label{
                flex: 0 0 45px;
            }

            .types{
                flex-grow: 1;

                .type{
                    padding: 0 12px;
                    float: left;
                    border-radius: 2px;
                }

                .active{
                    background: #ccc;
                }
            }
        }
    }

    .list{
        border-top: $commonBorderColor solid 1px;
        background: white;

        .row{
            display: flex;
            margin: 10px;
            padding-bottom: 10px;
            border-bottom: $commonBorderColor dashed 1px;

            &:last-child{
                border-bottom: none;
            }

            .left{
                height: 80px;
                flex: 0 0 80px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .middle{
                flex-grow: 1;
                padding-left: 8px;

                .content{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }

                .title{
                    font-size: 14px;
                    color: #666;
                    line-height: 28px;
                    flex: 0 0 28px;
                }

                .desc{
                    flex-grow: 1;
                    font-size: 12px;
                    color: $commonFontColor;
                    height: 33px;
                    overflow: hidden;
                    line-height: 16px;
                }

                .favorite{
                    line-height: 20px;
                    flex: 0 0 20px;

                    .i-heart{
                        color: #ccc;
                        font-size: 14px;
                    }

                    .red{
                        color: #6bbd7b;
                    }
                }
            }

            .right{
                flex: 0 0 30px;
                line-height: 80px;
                text-align: center;


                .i-back{
                    transform: rotate(180deg) scale(1.5);
                    transform-origin: 50%;
                    color: $commonFontColor;
                }
            }
        }
    }
}