#Sell {
  padding: 40px 50px;
  box-sizing: border-box;

  .tip {
    font-size: 14px;

    .red {
      font-size: 15px;
      color: #ce2629;
      margin: 0 2px;
    }
  }

  .sell-table {
    width: 100%;
    margin-top: 20px;
    text-align: center;

    tbody{
      td{
        padding: 2px 0;
      }
    }

    .title {
      line-height: 30px;
    }

    .btn-sell {
      width: 60px;
      height: 25px;
      background-color: #ce2629;
      font-size: 13px;
      margin: 5px 0;
      border-radius: 4px;
      color: #fff;
      border: 0;
      cursor: pointer;
    }

    .btn-disable{
      background: #888;
    }
  }
}
