#Header{
  background: #f5f5f5;
  border-bottom: #e5e5e5 solid 1px;

  .content {
    width: 1000px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 32px;
    color: #888;

    .right{
      float: right;

      span{
        margin: 0 8px;
      }
    }
  }
}