#SafeMain {
    .title {
        line-height: 25px;
        border-bottom: #bbb solid 1px;
        font-size: 16px;
        padding-bottom: 8px;
    }

    .table {
        margin-top: 20px;
        width: 100%;
        font-size: 14px;

        td {
            line-height: 25px;
        }

        td.checked {
            text-align: center;
        }

        .green {
            color: #0bbf04;
        }

        .btn {
            width: 60px;
            height: 28px;
            background-color: #ce2629;
            font-size: 12px;
            margin: 5px 0;
            color: #fff;
            border: 0;
            cursor: pointer;
            border-radius: 4px;
        }
    }
}
