@import "../../styles/common";

#Mine{
    .user{
        height: 150px;
        line-height: 150px;
        background: $commonColorGreen;
        display: flex;
        border-top: white solid 1px;

        .left{
            flex: 0 0 120px;
            font-size: 100px;
            color: white;
            text-align: center;
        }

        .right{
            line-height: 28px;
            flex-grow: 1;
            color: white;
            padding-left: 10px;

            .name{
                margin-top: 58px;
            }
        }
    }

    .list{
        margin-top: 20px;
        border-top: $commonBorderColor solid 1px;

        .item{
            display: flex;
            line-height: 40px;
            background: white;
            border-bottom: $commonBorderColor solid 1px;

            .left{
                flex: 0 0 40px;
                font-size: 22px;
                text-align: center;
            }

            .collection{
                color: #FC6E51;
            }

            .audit{
                color: $commonColorGreen;
            }

            .middle{
                flex-grow: 1;
                font-size: 13px;
                color: $commonFontColor;
            }

            .right{
                flex: 0 0 30px;

                .i-back{
                    transform: rotate(180deg) scale(1.5);
                    transform-origin: 50%;
                    color: $commonFontColor;
                }
            }
        }
    }

    .button{
        width: 60%;
        background: $commonColorGreen;
        margin: 50px auto;
        color: white;
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        border-radius: 3px;
    }
}