#Stock {
  .main {
    width: 1000px;
    margin: 40px auto;
    border-radius: 2px;
    border: 1px solid #dcdcdc;

    .nav {
      background: #CE2629;

      li {
        background: #CE2629;
        color: #fff;
        display: inline-block;
        width: 242px;
        line-height: 50px;
        border-right: #fff solid 1px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;

        .delimiter {
          margin: 0 5px;
        }
      }

      .tab-active{
        background: #F9F9F9;
        color: #CE2629;
      }
    }

    .buy{
      display: flex;
    }
  }
}
